In [1]:
import pandas as pd
#read data frame
df=pd.read_csv('C:\\Users\\akash\\Desktop\\Iris.csv')
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [2]:
df.loc[[10,20,135] ,["SepalLengthCm"]]

     SepalLengthCm
10             5.4
20             5.4
135            7.7

In [3]:
df.iloc[[10,100,10] , [1,2,3,4]]

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
10             5.4           3.7            1.5           0.2
100            6.3           3.3            6.0           2.5
10             5.4           3.7            1.5           0.2

In [4]:
df.loc[[10,130,50] , ["PetalLengthCm"]]

     PetalLengthCm
10             1.5
130            6.1
50             4.7

In [5]:
df.iloc[10:120:2 , 2:4]

     SepalWidthCm  PetalLengthCm
10            3.7            1.5
12            3.0            1.4
14            4.0            1.2
16            3.9            1.3
18            3.8            1.7
20            3.4            1.7
22            3.6            1.0
24            3.4            1.9
26            3.4            1.6
28            3.4            1.4
30            3.1            1.6
32            4.1            1.5
34            3.1            1.5
36            3.5            1.3
38            3.0            1.3
40            3.5            1.3
42            3.2            1.3
44            3.8            1.9
46            3.8            1.6
48            3.7            1.5
50            3.2            4.7
52            3.1            4.9
54            2.8            4.6
56            3.3            4.7
58            2.9            4.6
60            2.0            3.5
62            2.2            4.0
64            2.9            3.6
66            3.0            4.5
68            2.2            4.5
70            3.2            4.8
72            2.5            4.9
74            2.9            4.3
76            2.8            4.8
78            2.9            4.5
80            2.4            3.8
82            2.7            3.9
84            3.0            4.5
86            3.1            4.7
88            3.0            4.1
90            2.6            4.4
92            2.6            4.0
94            2.7            4.2
96            2.9            4.2
98            2.5            3.0
100           3.3            6.0
102           3.0            5.9
104           3.0            5.8
106           2.5            4.5
108           2.5            5.8
110           3.2            5.1
112           3.0            5.5
114           2.8            5.1
116           3.0            5.5
118           2.6            6.9

In [6]:
df.drop([1,2])

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
5,6,5.4,3.9,1.7,0.4,Iris-setosa
6,7,4.6,3.4,1.4,0.3,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [7]:
df.head

<bound method NDFrame.head of       Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 6 columns]>

In [8]:
df.drop(["SepalLengthCm",'PetalLengthCm'],axis = 1)

      Id  SepalWidthCm  PetalWidthCm         Species
0      1           3.5           0.2     Iris-setosa
1      2           3.0           0.2     Iris-setosa
2      3           3.2           0.2     Iris-setosa
3      4           3.1           0.2     Iris-setosa
4      5           3.6           0.2     Iris-setosa
..   ...           ...           ...             ...
145  146           3.0           2.3  Iris-virginica
146  147           2.5           1.9  Iris-virginica
147  148           3.0           2.0  Iris-virginica
148  149           3.4           2.3  Iris-virginica
149  150           3.0           1.8  Iris-virginica

[150 rows x 4 columns]

In [14]:
df1=df

In [15]:
df1.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [16]:
df.size

900

In [17]:
df.shape

(150, 6)

In [18]:
df1[akash]=100

NameError: name 'akash' is not defined

In [19]:
df1["akki"]=100
df1

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,akki
0,1,5.1,3.5,1.4,0.2,Iris-setosa,100
1,2,4.9,3.0,1.4,0.2,Iris-setosa,100
2,3,4.7,3.2,1.3,0.2,Iris-setosa,100
3,4,4.6,3.1,1.5,0.2,Iris-setosa,100
4,5,5.0,3.6,1.4,0.2,Iris-setosa,100
...,...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica,100
146,147,6.3,2.5,5.0,1.9,Iris-virginica,100
147,148,6.5,3.0,5.2,2.0,Iris-virginica,100
148,149,6.2,3.4,5.4,2.3,Iris-virginica,100
149,150,5.9,3.0,5.1,1.8,Iris-virginica,100

In [20]:
import numpy as np

In [21]:
df.iloc[1,6]=np.nan
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,akki
0,1,5.1,3.5,1.4,0.2,Iris-setosa,100.0
1,2,4.9,3.0,1.4,0.2,Iris-setosa,NaN
2,3,4.7,3.2,1.3,0.2,Iris-setosa,100.0
3,4,4.6,3.1,1.5,0.2,Iris-setosa,100.0
4,5,5.0,3.6,1.4,0.2,Iris-setosa,100.0
...,...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica,100.0
146,147,6.3,2.5,5.0,1.9,Iris-virginica,100.0
147,148,6.5,3.0,5.2,2.0,Iris-virginica,100.0
148,149,6.2,3.4,5.4,2.3,Iris-virginica,100.0
149,150,5.9,3.0,5.1,1.8,Iris-virginica,100.0

In [22]:
df.loc[3,'SepalLengthCm']=np.nan
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,akki
0,1,5.1,3.5,1.4,0.2,Iris-setosa,100.0
1,2,4.9,3.0,1.4,0.2,Iris-setosa,NaN
2,3,4.7,3.2,1.3,0.2,Iris-setosa,100.0
3,4,NaN,3.1,1.5,0.2,Iris-setosa,100.0
4,5,5.0,3.6,1.4,0.2,Iris-setosa,100.0
...,...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica,100.0
146,147,6.3,2.5,5.0,1.9,Iris-virginica,100.0
147,148,6.5,3.0,5.2,2.0,Iris-virginica,100.0
148,149,6.2,3.4,5.4,2.3,Iris-virginica,100.0
149,150,5.9,3.0,5.1,1.8,Iris-virginica,100.0

In [23]:
df2=df1
df2

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,akki
0,1,5.1,3.5,1.4,0.2,Iris-setosa,100.0
1,2,4.9,3.0,1.4,0.2,Iris-setosa,NaN
2,3,4.7,3.2,1.3,0.2,Iris-setosa,100.0
3,4,NaN,3.1,1.5,0.2,Iris-setosa,100.0
4,5,5.0,3.6,1.4,0.2,Iris-setosa,100.0
...,...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica,100.0
146,147,6.3,2.5,5.0,1.9,Iris-virginica,100.0
147,148,6.5,3.0,5.2,2.0,Iris-virginica,100.0
148,149,6.2,3.4,5.4,2.3,Iris-virginica,100.0
149,150,5.9,3.0,5.1,1.8,Iris-virginica,100.0

In [24]:
df2.dropna()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,akki
0,1,5.1,3.5,1.4,0.2,Iris-setosa,100.0
2,3,4.7,3.2,1.3,0.2,Iris-setosa,100.0
4,5,5.0,3.6,1.4,0.2,Iris-setosa,100.0
5,6,5.4,3.9,1.7,0.4,Iris-setosa,100.0
6,7,4.6,3.4,1.4,0.3,Iris-setosa,100.0
...,...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica,100.0
146,147,6.3,2.5,5.0,1.9,Iris-virginica,100.0
147,148,6.5,3.0,5.2,2.0,Iris-virginica,100.0
148,149,6.2,3.4,5.4,2.3,Iris-virginica,100.0
149,150,5.9,3.0,5.1,1.8,Iris-virginica,100.0

In [25]:
df3=df2
df2

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,akki
0,1,5.1,3.5,1.4,0.2,Iris-setosa,100.0
1,2,4.9,3.0,1.4,0.2,Iris-setosa,NaN
2,3,4.7,3.2,1.3,0.2,Iris-setosa,100.0
3,4,NaN,3.1,1.5,0.2,Iris-setosa,100.0
4,5,5.0,3.6,1.4,0.2,Iris-setosa,100.0
...,...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica,100.0
146,147,6.3,2.5,5.0,1.9,Iris-virginica,100.0
147,148,6.5,3.0,5.2,2.0,Iris-virginica,100.0
148,149,6.2,3.4,5.4,2.3,Iris-virginica,100.0
149,150,5.9,3.0,5.1,1.8,Iris-virginica,100.0

In [26]:
df2.dropna(axis=0, how='any')

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,akki
0,1,5.1,3.5,1.4,0.2,Iris-setosa,100.0
2,3,4.7,3.2,1.3,0.2,Iris-setosa,100.0
4,5,5.0,3.6,1.4,0.2,Iris-setosa,100.0
5,6,5.4,3.9,1.7,0.4,Iris-setosa,100.0
6,7,4.6,3.4,1.4,0.3,Iris-setosa,100.0
...,...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica,100.0
146,147,6.3,2.5,5.0,1.9,Iris-virginica,100.0
147,148,6.5,3.0,5.2,2.0,Iris-virginica,100.0
148,149,6.2,3.4,5.4,2.3,Iris-virginica,100.0
149,150,5.9,3.0,5.1,1.8,Iris-virginica,100.0

In [27]:
import numpy as np
df2[100]=np.nan
df2

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,akki,100
0,1,5.1,3.5,1.4,0.2,Iris-setosa,100.0,NaN
1,2,4.9,3.0,1.4,0.2,Iris-setosa,NaN,NaN
2,3,4.7,3.2,1.3,0.2,Iris-setosa,100.0,NaN
3,4,NaN,3.1,1.5,0.2,Iris-setosa,100.0,NaN
4,5,5.0,3.6,1.4,0.2,Iris-setosa,100.0,NaN
...,...,...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica,100.0,NaN
146,147,6.3,2.5,5.0,1.9,Iris-virginica,100.0,NaN
147,148,6.5,3.0,5.2,2.0,Iris-virginica,100.0,NaN
148,149,6.2,3.4,5.4,2.3,Iris-virginica,100.0,NaN
149,150,5.9,3.0,5.1,1.8,Iris-virginica,100.0,NaN

In [28]:
df2=df2.dropna(axis=1,how='all')
df2

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,akki
0,1,5.1,3.5,1.4,0.2,Iris-setosa,100.0
1,2,4.9,3.0,1.4,0.2,Iris-setosa,NaN
2,3,4.7,3.2,1.3,0.2,Iris-setosa,100.0
3,4,NaN,3.1,1.5,0.2,Iris-setosa,100.0
4,5,5.0,3.6,1.4,0.2,Iris-setosa,100.0
...,...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica,100.0
146,147,6.3,2.5,5.0,1.9,Iris-virginica,100.0
147,148,6.5,3.0,5.2,2.0,Iris-virginica,100.0
148,149,6.2,3.4,5.4,2.3,Iris-virginica,100.0
149,150,5.9,3.0,5.1,1.8,Iris-virginica,100.0

In [29]:
df2.isnull().sum()

Id               0
SepalLengthCm    1
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
akki             1
dtype: int64

In [30]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  149 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
 6   akki           149 non-null    float64
dtypes: float64(5), int64(1), object(1)
memory usage: 8.3+ KB

In [31]:
df2.corr()

C:\Windows\Temp\ipykernel_22024\1778878097.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df2.corr()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,akki
Id,1.000000,0.711917,-0.397729,0.882747,0.899759,NaN
SepalLengthCm,0.711917,1.000000,-0.109131,0.870215,0.815610,NaN
SepalWidthCm,-0.397729,-0.109131,1.000000,-0.420516,-0.356544,NaN
PetalLengthCm,0.882747,0.870215,-0.420516,1.000000,0.962757,NaN
PetalWidthCm,0.899759,0.815610,-0.356544,0.962757,1.000000,NaN
akki,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
df2.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,akki
0,1,5.1,3.5,1.4,0.2,Iris-setosa,100.0
1,2,4.9,3.0,1.4,0.2,Iris-setosa,NaN
2,3,4.7,3.2,1.3,0.2,Iris-setosa,100.0
3,4,NaN,3.1,1.5,0.2,Iris-setosa,100.0
4,5,5.0,3.6,1.4,0.2,Iris-setosa,100.0

In [33]:
df2.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species', 'akki'],
      dtype='object')

In [34]:
df2.rename( columns={(100): "PetalWidthCm"} ,inplace=True)
df2.head

C:\Windows\Temp\ipykernel_22024\1658136108.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.rename( columns={(100): "PetalWidthCm"} ,inplace=True)

<bound method NDFrame.head of       Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            NaN           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

            Species   akki
0       Iris-setosa  100.0
1       Iris-setosa    NaN
2       Iris-setosa  100.0
3       Iris-setosa  100.0
4       Iris-setosa  100.0
..              ...    ...
145  Iris-virginica  100.0
146  Iris-virginica  100.0
147  Iris-virginica  100.0
148  Iris-virginica  100.0
149  Iris-virginica  100.0

[150 rows x 7 columns]>

In [35]:
df2.shape

(150, 7)

In [36]:
df2.columns=list('1234567')
df2

       1    2    3    4    5               6      7
0      1  5.1  3.5  1.4  0.2     Iris-setosa  100.0
1      2  4.9  3.0  1.4  0.2     Iris-setosa    NaN
2      3  4.7  3.2  1.3  0.2     Iris-setosa  100.0
3      4  NaN  3.1  1.5  0.2     Iris-setosa  100.0
4      5  5.0  3.6  1.4  0.2     Iris-setosa  100.0
..   ...  ...  ...  ...  ...             ...    ...
145  146  6.7  3.0  5.2  2.3  Iris-virginica  100.0
146  147  6.3  2.5  5.0  1.9  Iris-virginica  100.0
147  148  6.5  3.0  5.2  2.0  Iris-virginica  100.0
148  149  6.2  3.4  5.4  2.3  Iris-virginica  100.0
149  150  5.9  3.0  5.1  1.8  Iris-virginica  100.0

[150 rows x 7 columns]

In [37]:
df2.fillna(0)

       1    2    3    4    5               6      7
0      1  5.1  3.5  1.4  0.2     Iris-setosa  100.0
1      2  4.9  3.0  1.4  0.2     Iris-setosa    0.0
2      3  4.7  3.2  1.3  0.2     Iris-setosa  100.0
3      4  0.0  3.1  1.5  0.2     Iris-setosa  100.0
4      5  5.0  3.6  1.4  0.2     Iris-setosa  100.0
..   ...  ...  ...  ...  ...             ...    ...
145  146  6.7  3.0  5.2  2.3  Iris-virginica  100.0
146  147  6.3  2.5  5.0  1.9  Iris-virginica  100.0
147  148  6.5  3.0  5.2  2.0  Iris-virginica  100.0
148  149  6.2  3.4  5.4  2.3  Iris-virginica  100.0
149  150  5.9  3.0  5.1  1.8  Iris-virginica  100.0

[150 rows x 7 columns]

In [38]:
df2.fillna(method='ffill')

       1    2    3    4    5               6      7
0      1  5.1  3.5  1.4  0.2     Iris-setosa  100.0
1      2  4.9  3.0  1.4  0.2     Iris-setosa  100.0
2      3  4.7  3.2  1.3  0.2     Iris-setosa  100.0
3      4  4.7  3.1  1.5  0.2     Iris-setosa  100.0
4      5  5.0  3.6  1.4  0.2     Iris-setosa  100.0
..   ...  ...  ...  ...  ...             ...    ...
145  146  6.7  3.0  5.2  2.3  Iris-virginica  100.0
146  147  6.3  2.5  5.0  1.9  Iris-virginica  100.0
147  148  6.5  3.0  5.2  2.0  Iris-virginica  100.0
148  149  6.2  3.4  5.4  2.3  Iris-virginica  100.0
149  150  5.9  3.0  5.1  1.8  Iris-virginica  100.0

[150 rows x 7 columns]

In [39]:
df2

       1    2    3    4    5               6      7
0      1  5.1  3.5  1.4  0.2     Iris-setosa  100.0
1      2  4.9  3.0  1.4  0.2     Iris-setosa    NaN
2      3  4.7  3.2  1.3  0.2     Iris-setosa  100.0
3      4  NaN  3.1  1.5  0.2     Iris-setosa  100.0
4      5  5.0  3.6  1.4  0.2     Iris-setosa  100.0
..   ...  ...  ...  ...  ...             ...    ...
145  146  6.7  3.0  5.2  2.3  Iris-virginica  100.0
146  147  6.3  2.5  5.0  1.9  Iris-virginica  100.0
147  148  6.5  3.0  5.2  2.0  Iris-virginica  100.0
148  149  6.2  3.4  5.4  2.3  Iris-virginica  100.0
149  150  5.9  3.0  5.1  1.8  Iris-virginica  100.0

[150 rows x 7 columns]

In [40]:
fill={"7" :df2,'8':100}
fill

{'7':        1    2    3    4    5               6      7
 0      1  5.1  3.5  1.4  0.2     Iris-setosa  100.0
 1      2  4.9  3.0  1.4  0.2     Iris-setosa    NaN
 2      3  4.7  3.2  1.3  0.2     Iris-setosa  100.0
 3      4  NaN  3.1  1.5  0.2     Iris-setosa  100.0
 4      5  5.0  3.6  1.4  0.2     Iris-setosa  100.0
 ..   ...  ...  ...  ...  ...             ...    ...
 145  146  6.7  3.0  5.2  2.3  Iris-virginica  100.0
 146  147  6.3  2.5  5.0  1.9  Iris-virginica  100.0
 147  148  6.5  3.0  5.2  2.0  Iris-virginica  100.0
 148  149  6.2  3.4  5.4  2.3  Iris-virginica  100.0
 149  150  5.9  3.0  5.1  1.8  Iris-virginica  100.0

 [150 rows x 7 columns],
 '8': 100}

In [41]:
df3=df2.fillna()

ValueError: Must specify a fill 'value' or 'method'.